.sidebar {
  border-right-width: 1px solid var(--X-background);
  flex: 0.2;
  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar__XIcon {
  color: var(--X-color);
  font-size: 30px !important;
  margin-left: 20px;
  margin-bottom: 20px;
}

.sidebar__post {
  background-color: var(--X-background) !important;
  color: #fff !important;
  font-weight: 900 !important;
  border: none !important;
  border-radius: 30px !important;
  height: 50px !important;
  margin-top: 20px !important;
}